*{
    box-sizing: border-box;
}



h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div{
    width:100%;
    position: relative;
}

header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: x-small;
    margin-top: -15px;
    margin-right: -15px;
    margin-bottom: 15px;
    background-color: gray;
	border: 1px solid black;
    float:right;
    width:70px;
    height:25px;
}

p{
    clear:both;
}

section{
    position: relative;
    font-family: monospace;
    color:white;
    border:1px solid black;
    margin: 10px;
    padding: 15px;
    float:left;
    
}

.sec1{
    background-color: gray;
}

.sec2{
    background-color: green;
}

.sec3{
    background-color: hotpink;
}

@media(min-width:992px){
    section{
        width: 28%;
    }

}

@media(min-width:768px) and (max-width:991px){
    .sec1,.sec2{
        width:47%;
    }
    .sec3{
        width:96%;
        margin-right: 15px;
    }
}

@media(max-width: 767px){
 .sec1,.sec2,.sec3{
     width:96%;
     margin-right: 15px;
 }   
}